.dropdown-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: aquamarine;
}


li a,
.dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 14px 25px;
    font-size: 20px;
}

li .dropdown {
    display: inline-block;
}

li a:hover,
.dropdown:hover .dropbtn {
    background: linear-gradient(135deg, rgb(59, 26, 91)0%, rgb(69, 26, 112)25%, rgb(86, 29, 139)50%, rgb(114, 46, 177)75%, rgb(157, 79, 230)100%);
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: aquamarine;
}

.dropdown:hover .dropdown-content {
    display: block;
}